{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Contact Us</h1>
                <a href="" class="h4 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h4 text-white">Contact</a>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Contact Start -->
    
        <div class="container-fluid py-5">
            <div class="container">
                {% if message_name %}
                    <centre>
                        <h2>Hey {{ message_name }}!</h2>
                        <p>Your email has been received and will respond you shortly...</p>
                    </centre>
                {% else %}
                    <div class="row g-5">
                        <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.1s">
                            <div class="bg-light rounded h-100 p-5">
                                <div class="section-title">
                                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Contact Us</h5>
                                    <h1 class="display-6 mb-4">Feel Free To Contact Us</h1>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
                                    <div class="text-start">
                                        <h5 class="mb-0">Our Clinic</h5>
                                        <span>32E MGR Street, Sudhana Nagar, Nainarmandapam, Puducherry - 605004</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
                                    <div class="text-start">
                                        <h5 class="mb-0">Email Us</h5>
                                        <span>thedentinn@gmail.com</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                                    <div class="text-start">
                                        <h5 class="mb-0">Call Us</h5>
                                        <span>+91 9840312650</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                            <form action="{% url 'home:contact' %}" method="post">
                                {% csrf_token %}
                                <div class="row g-3">
                                    <div class="col-12">
                                        <input type="text" name="message-name" class="form-control border-0 bg-light px-4" placeholder="Your Name" style="height: 55px;">
                                    </div>
                                    <div class="col-12">
                                        <input type="email" name="message-email" class="form-control border-0 bg-light px-4" placeholder="Your Email" style="height: 55px;">
                                    </div>
                                    <div class="col-12">
                                        <input type="text" name="message-sub" class="form-control border-0 bg-light px-4" placeholder="Subject" style="height: 55px;">
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" class="form-control border-0 bg-light px-4 py-3" rows="5" placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-4 col-lg-12 wow slideInUp" data-wow-delay="0.6s">
                            <iframe class="position-relative rounded w-100 h-100"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31055.39264604471!2d79.79163098847539!3d11.929852099474285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5361bf80b1973b%3A0xb6db3d6d439532da!2sMGR%20St%2C%20Velrampet%2C%20Puducherry%2C%20605004!5e0!3m2!1sen!2sin!4v1650820724340!5m2!1sen!2sin"
                                frameborder="0" style="min-height: 400px; border:0;" allowfullscreen="" aria-hidden="false"
                                tabindex="0">
                            </iframe>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    <!-- Contact End -->

{% endblock content %}

    